{# src/DV/UserBundle/Resources/view/layout.html.twig #}
{% set route = app.request.attributes.get( '_route' ) %}

{% extends "::index_base.html.twig" %}

{% block body %}

  <!-- BEGIN CONTENT -->
  <div id="page_content" class="row">

    <!-- BEGIN CONTENT -->
    <div id="fullpage" class="login_background">

      <div class="section" id="section4">

        <div id="sectionContentAjax">
          <div class="row60" id="login_section">
            <div id="login_content">

              {% if route == 'fos_user_security_login' %}
                <h2>
                  Connección
                </h2>
                <hr/>

                <div>
                  <!-- BEGIN LOGIN FORM -->
                    <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                      
                        {% if error %}
                            <div class="error_message">
                              <span class="warning_word">
                                Cuidado!
                              </span>
                              <span class="warning_message">
                                {{ error|trans }}
                              </span>
                            </div>
                            <br/>
                        {% endif %}

                      <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9" for="username">
                          Email
                        </label>
                        <div class="input-icon">
                          <input class="form-control placeholder-no-fix" type="text" placeholder="Email" value="{{ last_username }}" id="username" name="_username" required="required" autofocus>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9" for="password">
                          Contrasena
                        </label>
                        <div class="input-icon">
                          <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Contraseña" id="password" name="_password" required="required">
                        </div>
                      </div>
                      <div class="form-actions">
                        <div class="remember_me_box">
                          <label for="remember_me" class="checkbox">
                            <div class="checker">
                              <span>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                              </span>
                            </div> 
                            Recordese de mi
                          </label>
                        </div>
                        <div class="center">
                          <button type="submit" class="btn btn-log center">
                            Conectarse
                          </button>
                        </div>
                      </div>

                      <br/><br/>
                      <br/><br/>
                      <br/><br/>

                    </form>
                </div>
                <!-- END LOGIN FORM -->


              {% else %}
                <h2>
                  Ojo!
                </h2>
                <hr/>

                <br/><br/>

                <div class="center">
                  Conctacte el webmaster. 
                  <br/>
                  Gracias.
                  <br/>
                  <br/>
                  <strong>
                    Deo Volente
                  </strong>
                </div>

                <br/><br/>

                <div class="center italic">
                  <a href="mailto:p.a.destremau@gmail.com" class="center btn-log no_style_a">
                    Email webmaster
                  </a>
                </div>
              {% endif %}

            </div>

          </div>
        </div>

      </div>

    </div>
    <!-- END CONTENT -->
  </div>
  <!-- END CONTENT -->

{% endblock body %}

