{# src/DV/MainBundle/Resources/Main/rse.html.twig #}

{% extends "DVMainBundle::main_general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block DV_Main_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_toLoad" class="row" style="width: 100%; background-image: url('{{ asset( 'img/bg_paginas/rse.jpg') }}'); background-size: cover; background-position: 50%; " alt="alt">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="page_content">

			<div class="row txt_sobre_img">
				<h3>
					RESPONSABILIDAD SOCIAL EMPRESARIAL
				</h3>

				<hr class="medium_hr row60"/>
				<br/>

				<div class="row">
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h4 class="panel-title">
									COLABORADORES
						    	</h4>
						  	</div>
						  	<div class="panel-body">
						    	<p>
									El pilar que sustenta todas nuestras actividades es sin lugar a dudas, el factor humano. Tanto en las actividades primarias como en las de apoyo, son las competencias laborales de todos nuestros colaboradores quienes nos permiten añadir valor en cada una de nuestras operaciones. Por ello, estamos enfocados a corresponder su labor mediante actividades destinadas al logro de su desarrollo profesional y personal.
								</p>
						  	</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h4 class="panel-title">
									PROVEEDORES
						    	</h4>
						  	</div>
						  	<div class="panel-body">
						    	<p>
									Son nuestros socios estratégicos en el desarrollo de nuestras actividades. Consideramos que el trato que esperamos de nuestros proveedores debe estar en concordancia con el que nosotros le brindamos. Estamos orientados hacia el fomento de buenas prácticas y de generar mayores canales de comunicación.
								</p>
						  	</div>
						</div>
					</div>

					
				</div>

				<div class="hidden-xs">
					<br/>
					<hr class="medium_hr row80"/>
					<br/>
				</div>

				<div class="row">
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h4 class="panel-title">
									CLIENTES
						    	</h4>
						  	</div>
						  	<div class="panel-body">
						    	<p>
									Consideramos que el único medio para asegurar nuestro crecimiento, es la superación de las expectativas de nuestros clientes. Nos preocupamos por el estricto cumplimiento de los plazos que nos proporcionan para la entrega de nuestros trabajos, así como de las características que más exigen de nuestros servicios.
								</p>
						  	</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h4 class="panel-title">
									MEDIO AMBIENTE
						    	</h4>
						  	</div>
						  	<div class="panel-body">
						    	<p>
									En nuestras operaciones en campo, tanto en perforación, en voladura de rocas, como en movimiento de tierras, nos preocupamos por controlar los impactos ambientales más significativos como las emisiones de gases y polvos. Nuestros colaboradores tienen plena conciencia de la importancia del cuidado del ambiente. La experiencia en el manejo de los materiales necesarios para nuestras operaciones así como de los desechos generados, permite asegurar el mínimo impacto ambiental.
								</p>
						  	</div>
						</div>
					</div>

					
				</div>

				<div class="hidden-xs">
					<br/>
					<hr class="medium_hr row80"/>
					<br/>
				</div>

				<div class="row">
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h4 class="panel-title">
									COMUNIDADES
						    	</h4>
						  	</div>
						  	<div class="panel-body">
						    	<p>
									En nuestras operaciones en campo, tanto en perforación, voladura de rocas y en movimiento de tierras, nos preocupamos por controlar todos los impactos ambientales que generamos. La experiencia en el manejo de los materiales necesarios para nuestras operaciones así como la plena conciencia de la importancia del cuidado del ambiente por parte de nuestros colaboradores, permite asegurar el mínimo impacto ambiental en nuestras operaciones.
								</p>
						  	</div>
						</div>
					</div>
					
				</div>

				<br/><br/>
			</div>	



		</div>

	</div>
	<!-- END CONTENT -->

{% endblock DV_Main_body %}