/* -----------------------------------------------    MAIN STYLE   -------------------------------------------------- */

html {
	width: 100%;
}

body
{	
	width: 100%;
	line-height: 100%;
	font-family: "Proxima Nova", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100;
	color: rgba(27,66,157,1) !important;
	z-index: 0 !important;
	background-color: #f7f7f7;

	padding: 0;
	margin: 0;
}

/* ------------------------------------------------------ General ------------------------------------------------------ */
.margin0 {
	margin:0;
}
.margin_left_10 {
	margin-left: 10px;
}
.margin_right_10 {
	margin-right: 10px;
}
.margin_top_10 {
	margin-top: 10px;
}
.margin_bottom_10 {
	margin-bottom: 10px;
}
.margin_right_30 {
	margin-right: 30px;
}
.margin_top_30 {
	margin-top: 30px;
}
.padding0 {
	padding: 0 !important;
}
.padding5 {
	padding: 5px !important;
}
.padding10 {
	padding: 10px !important;
}
.padding50 {
	padding: 50px !important;
}
img {
	width: 100%;
}

h1
{
	font-weight: 500;
	color: rgba(255,183,39,0.88);
	line-height: 100% !important;
}

@media (min-width: 1400px) {
	h1 {
		font-size: 2.4em;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	h1 {
		font-size: 2.1em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	h1 {
		font-size: 1.8em;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	h1 {
		font-size: 1.5em;
	}
}
@media (max-width: 477px) {
	h1 {
		font-size: 1em;
	}
}

h2
{	
	text-align: center;
	font-weight: 300;
	color: rgba(27,66,157,0.88);
}
@media (min-width: 1400px) {
	h2 {
		font-size: 2.4em;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	h2 {
		font-size: 2em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	h2 {
		font-size: 1.5em;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	h2 {
		font-size: 1.2em;
	}
}
@media (max-width: 477px) {
	h2 {
		font-size: 0.8em;
	}
}

h3
{
	font-weight: 500 !important;
	margin-top: 10px !important;
	text-align: center;	
	color: rgba(27,66,157,1);
}
@media (min-width: 1400px) {
	h3 {
		font-size: 2.5em;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	h3 {
		font-size: 2em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	h3 {
		font-size: 1.7em;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	h3 {
		font-size: 1.4em;
	}
}
@media (max-width: 477px) {
	h3 {
		font-size: 1.2em;
	}
}

h4
{	
	margin: 0 !important;
	margin-left: 5% !important;
	font-weight: 200;
	text-align: left;
	color: rgba(255,183,39,1) !important;
}
@media (min-width: 1400px) {
	h4 {
		font-size: 1.8em;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	h4 {
		font-size: 1.5em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	h4 {
		font-size: 1.2em;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	h4 {
		font-size: 1.2em;
	}
}
@media (max-width: 477px) {
	h4 {
		font-size: 1em;
	}
}

h5 {
	color: rgba(27,66,157,1);
	font-weight: 300;
}
@media (min-width: 1400px) {
	h5 {
		font-size: 1.2em;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	h5 {
		font-size: 1.1em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	h5 {
		font-size: 1em;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	h5 {
		font-size: 1em;
	}
}
@media (max-width: 477px) {
	h5 {
		font-size: 1.2em;
	}
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.float-right {
	float: right;
}
.float-center {
	float: center;
}
.float-left {
	float: left;
}
.bold {
	font-weight: 800;
}
.font1em {
	font-size: 1em;
}
.font10 {
	font-size: 10px;
}
.font12 {
	font-size: 12px;
}
.font14 {
	font-size: 14px;
}
.font16 {
	font-size: 16px;
}
.font18 {
	font-size: 18px;
}
.font20 {
	font-size: 20px;
}
.paragraph {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.italic {
	font-style: italic;
	color: inherit !important;
}
.uppercase {
	text-transform : uppercase;
}

/*ul, ol, li {
	font-size: 1em !important;
}
*/
ul {
	list-style-type: circle;
}
ul ul {
	list-style-type: square;
}
.list_no_style_li {
	list-style-type: none;
}
.inline_li li {
	display: inline;
}
a, a:focus {
	color: inherit;
	text-decoration: none;
}
button, button:focus {
	color: inherit;
	text-decoration: none;	
}
a:hover {
	color: inherit;
	text-decoration: underline;
}
.no_style_a, .no_style_a:focus {
	text-decoration: none;
	font-style: normal;
}
.no_style_a:hover {
	color: inherit;
	text-decoration: none;
	font-style: normal;
}
.no_style_button, .no_style_button:focus {
	border: none;
	background-color: transparent;
	box-shadow: none;
}
.btn:focus {
	color: inherit;
	text-decoration: none;
	box-shadow: none;
}
p {	
	margin: 10px 5px ;
	text-align: left;
}
@media (min-width: 1400px) {
	p, ul, .well, .thumbnail, .modal-content {
		font-size: 14px;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	p, ul, .well, .thumbnail, .modal-content {
		font-size: 13px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	p, ul, .well, .thumbnail, .modal-content {
		font-size: 12px;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	p, ul, .well, .thumbnail, .modal-content {
		font-size: 11px;
	}
}
@media (max-width: 477px) {
	p, ul, .well, .thumbnail, .modal-content {
		font-size: 12px;
	}
}
strong {
	font-weight: 700;
}
.row {
	width: 100% !important;
	margin: 0 !important;
}
.row92 {
	width: 92% !important;
	margin-left: 4% !important;
	margin-top: 0;
	margin-bottom: 0;	
}
.row80 {
	width: 80% !important;
	margin-left: 10% !important;
	margin-top: 0;
	margin-bottom: 0;
}
.row60 {
	width: 60% !important;
	margin-left: 20% !important;
	margin-top: 0;
	margin-bottom: 0;
}
@media (max-width: 767px) {
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
		padding: 2px;
		margin: 0;
	}
}
.inline_div {
	display: inline-block;
}
.block_div {
	display: block;
}
.opacity0 {
	opacity: 0;
}
.opacity05 {
	opacity: 0.5;
}
.opacity1 {
	opacity: 1;
}
.cursor_default {
	cursor: default !important;
}

textarea {
	resize: vertical;
}

.well {
	color: rgba(27,66,157,1) !important;
}

.white {
	color: white !important;
}
.black {
	color: black !important;
}

hr {
	color: white;
	background-color: transparent;
	margin: 5px 0 !important;
	height: 1px;
}
.dark_hr {
	box-shadow: none;
	border: none;
	color: rgba(27,66,157,1);
	background-color: rgba(27,66,157,1) !important;
}
.medium_hr {
	box-shadow: none;
	border: none;
	color: rgba(27,66,157,0.2);
	background-color: rgba(27,66,157,0.2) !important;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* ------------------------------------------------------ Header ------------------------------------------------------ */
#header {
	z-index: 50;
	background-color: white !important;
	padding: 0 !important;
	margin-bottom: 5px;
}

@media (min-width: 1400px) {
	#header_content {
		width: 76%;
		margin-left: 12%;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	#header_content {
		width: 88%;
		margin-left: 6%;
	}
}
@media (max-width: 991px) {
	#header_content {
		width: 98%;
		margin-left: 1%;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	#header_content {
		width: 98%;
		margin-left: 1%;
	}
	#header ul {
		font-size: 0.66em;
	}
}
@media (max-width: 477px) {
	#header_content {
		width: 100%;
	}
	#header ul {
		font-size: 0.5em;
	}
}

#div_logo_header {
	display: inline-block !important;
	margin: 0 !important;
	padding: 0 !important;
}
#logo_header {
	width: 100%;
}

#nav_header, #nav_header ul {
	margin: 0 !important;
}

#nav_header ul{
    padding: 5px;
    white-space:nowrap;
}
@media (min-width: 1400px) {
	#nav_header ul{
		margin-top: 20px !important;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	#nav_header ul{
		margin-top: 20px !important;
	}
}
@media (max-width: 991px) {
	#nav_header ul{
		margin-top: 0px !important;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	#nav_header ul{
		margin-top: 0px !important;
	}
}
@media (max-width: 477px) {
	#nav_header ul{
		margin-top: 5px !important;
	}
}


#nav_header ul li{
    display:inline;
    text-align:center;
}
#nav_header ul li a{width:12%;}

#nav_header ul li a{
    display:inline-block;
    box-sizing:border-box;
    color:rgba(27,66,157,0.88);
    text-decoration:none;
    text-shadow:0 1px 0 white;
    background-color:transparent;
    transition:background-color .3s ease;
}
#nav_header ul li a:hover,#nav_header ul li a:focus{
    color:rgba(27,66,157,0.88);
    background-color:rgba(255,255,255,.4);
    transition:background-color .3s ease .4s;
}
#nav_header ul li a:focus{
    border-bottom: 3px solid rgba(27,66,157,0.88);
}
#nav_header ul li:last-child::after{
    content:"";
    position:absolute;
    left:0px;
    bottom:-3px;
    display:block;
    width:0;
    height:3px;
    background:#ccc;
    border-bottom:1px solid rgba(255,255,255,.8);
    transition: all .5s ease;
}
#nav_header ul li:hover ~ li:last-child::after,
#nav_header ul li:last-child:hover::after{background: rgba(27,66,157,0.88);}

#nav_header ul li:nth-child(1):hover ~ li:last-child::after {left:2.75% !important;width:11% !important;}
#nav_header ul li:nth-child(1).header_active ~ li:last-child::after{left:2.75%;width:11%;}
#nav_header ul li:nth-child(2):hover ~ li:last-child::after {left:14.75% !important;width:11% !important;}
#nav_header ul li:nth-child(2).header_active ~ li:last-child::after{left:14.75%;width:11%;}
#nav_header ul li:nth-child(3):hover ~ li:last-child::after {left:26.75% !important;width:11% !important;}
#nav_header ul li:nth-child(3).header_active ~ li:last-child::after{left:26.75%;width:11%;}
#nav_header ul li:nth-child(4):hover ~ li:last-child::after {left:38.75% !important;width:11% !important;}
#nav_header ul li:nth-child(4).header_active ~ li:last-child::after{left:38.75%;width:11%;}
#nav_header ul li:nth-child(5):hover ~ li:last-child::after {left:50.75% !important;width:11% !important;}
#nav_header ul li:nth-child(5).header_active ~ li:last-child::after{left:50.75%;width:11%;}
#nav_header ul li:nth-child(6):hover ~ li:last-child::after {left:62.75% !important;width:11% !important;}
#nav_header ul li:nth-child(6).header_active ~ li:last-child::after{left:62.75%;width:11%;}
#nav_header ul li:last-child.header_active::after{left:74.75%;width:11%;}
#nav_header ul li:last-child:hover::after{left:74.75% !important;width:11% !important;}
/* next 86.75% */

.right_border_li {
	border-right: 1px solid rgba(27,66,157,0.3);
}

#social_media {	
	z-index: 50;
	position: absolute;
	top: 10px;
	right: 0px;
	margin: 5px;
	padding:4px;
	text-align: center;
}
.social
{	
	display: inline-block;
	margin: 4px 2px;
	width : 20px;
	height: 20px;
}
@media (min-width: 992px) and (max-width: 1399px) {
	#social_media {	
		margin: 3px !important;
		padding:2px !important;
	}
}
@media (max-width: 477px) {
	.social {
		display: block !important;
	}
}

.social_fb {
	background-image: url('../../img/system/social/fb.png');
	background-size: 100%;
}
.social_fb:hover {
	background-image: url('../../img/system/social/fb_hover.png');
	background-size: 100%;
}
.social_tw {
	background-image: url('../../img/system/social/tw.png');
	background-size: 100%;
}
.social_tw:hover {
	background-image: url('../../img/system/social/tw_hover.png');
	background-size: 100%;
}
.social_mail {
	background-image: url('../../img/system/social/mail.png');
	background-size: 100%;
}
.social_mail:hover {
	background-image: url('../../img/system/social/mail_hover.png');
	background-size: 100%;
}


#button_to_top {
	font-size: 1em;
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	z-index: 999;
}
#button_to_top button {
	width: 50px;
	height: 50px;
	border-radius: 3px;
	text-align: center !important;
	background-color: rgba(27,66,157,0.95);
}
.btn-to-top {
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid transparent;
}
.btn-to-top:hover {
	color: rgba(27,66,157,1);
	border: 2px solid white;
}

#side_buttons {
	position: fixed;
	right: 22px;
	top: 40%;
	width: 12px;
	z-index: 10100;
}
@media (max-width: 991px) {
	#side_buttons {
		right: 14px !important;
	}
}
.btn-side, .btn-side-invert {
	width: 10px !important;
	height: 10px !important;
	border-radius: 5px !important;
	margin: 1px 0 !important;
	padding: 0;
	background-color: transparent;
}
.btn-side {
	border: 1px solid rgba(27,66,157,0.88);
}
.btn-side:hover {
	border: 1px solid transparent;
	background-color: rgba(41,41,41,0.7);
}
.btn-side-active, .btn-side-active:hover {
	border: 1px solid transparent;
	background-color: rgba(27,66,157,0.88);
}
.pop_hover_side {
    position:absolute;
    margin-top: -10px;
    margin-left: -110px;
    width: 100px;
	text-align: right !important;
    color: rgba(27,66,157,0.88);
    background: transparent;
    padding: 0;
    border: none;
    display: block;
    z-index: 10000;
}
.btn-side:hover .pop_hover_side, .btn-side:focus .pop_hover_side, .btn-side-invert:hover .pop_hover_side, .btn-side-invert:focus .pop_hover_side {
	display: block !important;
}
/* For the white spots */
.btn-side-invert {
	border: 1px solid white !important;
}
.btn-side-invert:hover {
	background-color: rgba(250,250,250,0.7) !important;
}
.btn-side-invert-active, .btn-side-invert-active:hover {
	background-color: white !important;
}
/* For the white writings in the invert */
.btn-side-invert .pop_hover_side {
	color: white !important;
}

.btn_up_arrow, .btn_arrow {
	width: 20px;
	position: relative;
	top: -2px;
	z-index: 5;
}


/* -----------------------------------------------    Content   -------------------------------------------------- */

#page_container_gen {
	width: 100%;
	background-color:  transparent !important;/*#f1f1f1;*/
	color: rgba(27,66,157,1) !important;
	z-index: 0 !important;
}

@media (min-width: 1400px) {
	#page_content {
		margin-left: 12%;
		width: 76%;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	#page_content {
		margin-left: 9%;
		width: 82%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#page_content {
		margin-left: 4%;
		width: 92%;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	#page_content {
		margin-left: 1%;
		width: 98%;
	}
}
@media (max-width: 477px) {
	#page_content {
		width: 100%;
	}
}

#sessionFlash {
	position: absolute;
	bottom : 10px;
	text-align: center;
	margin: auto;
	display: none;
	z-index: 99999;
}
.alert {
	padding: 4px 10px;
	padding-right: 30px;

	border: 1px solid rgba(27,66,157,1);
}


.btn-perso{
	color: rgba(27,66,157,1);
	box-shadow: none;
	border-radius: 0;
	border:1px solid rgba(27,66,157,0.78); 
	padding: 3px 6px ; 
 	background-color: transparent;
 	margin: 2px 10px;
}
.btn-perso:hover{
	background-color: rgba(27,66,157,0.2);
}
.btn-perso:focus, .btn-perso-white:focus {
	outline: none;
}
@media (min-width: 1400px) {
	.btn-perso {
		font-size: 1.2em;
	}
}
@media (min-width: 992px) and (max-width: 1399px) {
	.btn-perso {
		font-size: 1.1em;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.btn-perso {
		font-size: 1em;
	}
}
@media (min-width: 478px) and (max-width: 767px) {
	.btn-perso {
		font-size: 0.9em;
	}
}
@media (max-width: 477px) {
	.btn-perso {
		font-size: 0.85em;
	}
}


.btn-perso-white {
	color: white !important;
	border:1px solid white !important; 
}
.btn-perso-white:hover {
	background-color: rgba(250,250,250,0.2) !important;
}

.txt_sobre_img {
	background-color: rgba(250,250,250,0.95);
}

.panel {
	background-color: rgba(250,250,250,0.8) !important;
}

.photo_certif {
	width: 40%;
	margin: 10px;
}

#foto_galeria {
	margin: auto;
}


/* ------------------------------------------------------ Admin ------------------------------------------------------ */

.remember_me_box {
	margin-left: 42%;
}

#nav_header_admin ul li{
    display:inline;
    text-align:center;
}
#nav_header_admin ul li a{width:12%;}

#nav_header_admin ul li a{
    display:inline-block;
    box-sizing:border-box;
    color:rgba(27,66,157,0.88);
    text-decoration:none;
    text-shadow:0 1px 0 white;
    background-color:transparent;
    transition:background-color .3s ease;
}
#nav_header_admin ul li a:hover,#nav_header_admin ul li a:focus{
    color:rgba(27,66,157,0.88);
    background-color:rgba(255,255,255,.4);
    transition:background-color .3s ease .4s;
}
#nav_header_admin ul li a:focus{
    border-bottom: 3px solid rgba(27,66,157,0.88);
}
#nav_header_admin ul li:last-child::after{
    content:"";
    position:absolute;
    left:0px;
    bottom:-3px;
    display:block;
    width:0;
    height:3px;
    background:#ccc;
    border-bottom:1px solid rgba(255,255,255,.8);
    transition: all .5s ease;
}
#nav_header_admin ul li:hover ~ li:last-child::after,
#nav_header_admin ul li:last-child:hover::after{background: rgba(27,66,157,0.88);}

#nav_header_admin ul li:nth-child(1):hover ~ li:last-child::after {left:6.75% !important;width:11% !important;}
#nav_header_admin ul li:nth-child(1).header_active_admin ~ li:last-child::after{left:2.75%;width:11%;}
#nav_header_admin ul li:nth-child(2):hover ~ li:last-child::after {left:18.25% !important;width:11% !important;}
#nav_header_admin ul li:nth-child(2).header_active_admin ~ li:last-child::after{left:18.25%;width:11%;}
#nav_header_admin ul li:last-child.header_active_admin::after{left:29.75%;width:11%;}
#nav_header_admin ul li:last-child:hover::after{left:29.75% !important;width:11% !important;}

.btn-log {
	background-color: transparent;
	border-radius: 0px !important;
	border-bottom: 1.5px solid transparent;
	border-top: 1.5px solid transparent;
	color: rgba(27,66,157,1) !important;
	box-shadow: none;
	text-decoration: none;
}
.btn-log:hover, .btn-log:focus, .btn-log:active {
	box-shadow: none;
	text-decoration: none;
	outline: none;
	border-bottom: 1.5px solid rgba(27,66,157,1);
	border-top: 1.5px solid rgba(27,66,157,1);
}

.border_black_left {
	border-left: 2px dotted rgba(27,66,157,1);
}

.nav_tabs_user {
	text-align: center;
}
.nav_tabs_user li {
	margin-bottom: 10px;
	display: inline-block;
	width: 12%;
}
.btn-choice-admin {
	border-radius: 0;
	width: 100%;
	background-color: transparent;
	border: 1px solid #001234;
	padding: 2px 5px ;
}
.btn-choice-admin:hover {
	background-color: rgba(150,150,150,0.6);
}
.nav_tabs_user li.active {
	background-color: rgba(150,150,150,0.6);
}
.logout-btn-admin:hover {
	background-color: rgba(200,79,86,0.6) !important;
}

.btn-action-admin {
	border-radius: 0;
	width: 100px;
	background-color: transparent;
	border: 1px solid rgba(150,150,150,0.8);
	color: rgba(150,150,150,0.8);
	padding: 2px 5px ;
	margin-right: 10px;
}
.btn-action-admin:hover {
	background-color: rgba(150,150,150,0.6);
}
.btn-action-admin .btn_arrow {
	opacity: 0.4;
}
.btn-action-admin:hover .btn_arrow {
	opacity: 1 !important;
}

.btn-delete-admin {
	border-radius: 0;
	background-color: transparent;
	border: none;
	padding: 5px ;
	margin-left: 10px;	
	opacity: 0;
}
.photo_admin:hover .btn-delete-admin {
	opacity: 0.5;
}
.btn-delete-admin:hover {
	opacity: 1 !important;
}

.arrow_article {
	width: 20px;
}
.date_article {
	font-style: italic;
	font-size: 0.8em;
	margin-right: 8px;
}

.list_articles_admin {
	margin: 0;
	margin-left: 0px;
	padding: 0;
}
.list_articles_admin li {
	color: rgba(27,66,157,1) !important;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 5px !important;
	text-align: left !important;
	border: 1px solid transparent;
}
.list_articles_admin li:hover {
	border: 1px solid rgba(27,66,157,0.2) !important;
	border-radius: 4px;
}
.li_article_active {
	border: 1px solid rgba(27,66,157,0.88) !important;
	border-radius: 4px;
}
.article_photo_admin {
	border: 3px solid rgba(27,66,157,0.88);
	margin-left: 10%;
	width: 80% !important;
}
.article_photo_admin:hover {
	cursor: pointer;
}

.btn-category-admin {
	padding: 3px 6px;
}
.btn-category-admin:hover, .btn-category-admin:focus, .btn-category-admin:active {
	text-decoration: none;
}
.btn-category-admin:hover .btn_arrow, .btn-category-admin:focus .btn_arrow, .btn-category-admin:active .btn_arrow {
	opacity: 0.5;
}
.btn-category-admin .btn_arrow {
	opacity: 0;
}

.list_elements_admin {
	margin: 0;
	margin-left: 10px;
	padding: 0;
}
.list_elements_admin li {
	color: rgba(27,66,157,1) !important;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 5px;
}
.li_element_active {
	border: 1px solid rgba(27,66,157,0.5);
	background-color: rgba(27,66,157,0.1);
}
.li_element_active a {
	font-weight: 900 !important;
}
.li_element_active .arrow_element img, .li_element_active .arrow_element_opp img {
	opacity: 1;
}
.date_element, .date_element_opp {
	font-size: 0.8em;
	color: rgba(150,150,150,0.8);
	font-style: italic;
}
.arrow_element {
	margin-left: 5px;
}
.arrow_element img {
	width: 20px;
	opacity: 0;
}
.arrow_element_opp {
	margin-right: 5px;
}
.arrow_element_opp img {
	width: 20px;
	opacity: 0;
}

.thumbnail_page {
	padding: 10px;
}


/* ------------------------------------------------------ Footer ------------------------------------------------------ */
#footer
{
	background-color: rgba(150,150,150,0.4);
	text-align: center;
	width : 100%;
	margin: 0 !important;
	color: rgba(150,150,150,1) !important;
}
#footer div.footer_part {
	padding-top: 25px;
	padding-bottom: 25px;
}
.footer_menu ul li {
	display: inline-block;
	padding: 5px;
}
.footer_menu .right_border_li {
	border-right: 1px solid rgba(40,40,40,0.4) !important;
}
.footer_main {
	margin-top: 5px;
}
.border_white_top {
	border-top: 1px solid white;
}
.footer_bottom {
	text-transform : uppercase;
}
.footer_bottom ul {
	list-style: none;
}
.footer_bottom ul li {
	display: inline-block;
}
.red {
	color: red !important;
}
.btn-footer{
	color: white;
	box-shadow: none;
	border-radius: 0;
	border:1px solid white; 
	padding: 3px 6px ; 
 	background-color: transparent;
 	margin: 2px 10px;
}
.btn-footer:hover{
	color: white;
	background-color: rgba(250,250,250,0.2);
}
.btn-footer:focus {
	outline: none;
}