<!-- BEGIN FOOTER -->
<div id="footer" class="center">

	<div class="col-lg-2 col-md-2 col-sm-1 hidden-xs"></div>

	<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 left font12 padding10">
		<strong>Dirección:</strong> Jr.  Espinar  I - 18 Urb. Progreso Wanchaq – Cusco
		<br/>
		<strong>Tel:</strong> 084 233934
		<br/>
		<strong>Claro:</strong> rpc. 984 403732 - 966746236  - 984 414394 - 984345153
		<br/>
		<strong>Movistar:</strong>  978 400640 - 978 400467 - 990997022
		<br/>
		<strong>RPM:</strong>  *0081427 - *0055235 - *0011324
		<br/>
		<strong>E-mails:</strong> <a href="mailto:info@deovolente.com.pe">info@deovolente.com.pe</a> - <a href="mailto:deovolente@peru.com">deovolente@peru.com</a>
	</div>
	
	<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 center font10 padding10">
		© CORPORACION DEO VOLENTE S.R.L.- 2015.  All Rights Reserved.
	</div>
	
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>

</div>
<!-- END FOOTER -->